* {
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
html {
   scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.shop {
   height: 100vh;
	background-image: url('./img/header.png'),
	                  linear-gradient(to right, #964ce4 32%,#5d28b7 100%);  
    background-size: 400px 500px, auto;
    background-repeat: no-repeat;
    background-position: right;
}
.shop>.container {
	padding: 45px 230px;
}
.header {

	display: flex;
	justify-content: space-between;
}
.header-logo {
	height: 100px;
	width: 155px;
}
.header-list {
	display: flex;
    padding-top: 10px;
}
.header-item {
	padding-right: 13px;
}
.header-list-link {
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}
.header-list-link:hover {
	color:#12e3f6;
}
.img-list {
   width: 140px;
   height: 40px;
   display: flex;
   justify-content: center;
   justify-content: space-around;

}
  .header-item-img {
   width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list-logo {
   transition: 0.3s ease;
}
.header-list-logo:hover {
   width: 30px;
   height: 30px;
}
.main {
	margin-top: 150px;
	color: white;
}
.main-heading {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 52px;
	padding-bottom: 35px;
}
.main-heading-text {
	font-size: 50px;
	text-transform: capitalize;
	font-weight: 300;
	margin-bottom: 35px;
}
.main-heading-subtext {
	font-size: 22px;
	margin-bottom: 70px;
}

.about {
	background-image: url('./img/devices.png');
	background-repeat: no-repeat;
	background-position: 950px 750px;
}
.about>.container {
	padding: 150px 215px;
   min-height: 1300px;
}
.about-list{
	display: flex;
	justify-content: space-around;
}
.about-item {
   padding: 60px 10px;
	display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
  	border: 2px solid rgba(152,152,152,0.3);
	box-shadow:0 0 5px rgba(152,152,152);
	margin-left: 50px;
   width: 380px;
   height: 330px;
}
.about-item:nth-child(1) {
		margin-left:0;  
}
.about-logo {
   height: 37px;
   width: 45px;
   transform: rotate(-50deg);
}
.item-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   border: 1px solid black;
   transform: rotate(50deg);
   margin: 20px auto;
   padding: 30px;
}
.about-item-subtext {
	margin-top: 35px;
}
.about-intro {
	margin-top: 80px;
	text-align: center;
	margin: 80px auto;
}
.about-intro-heading {
	text-transform: uppercase;
	font-size: 34px;
	font-weight: 500;
	color: #2e2e2e;
}
.hr {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
}
.about-hr {
	width: 30px;
	height: 3px;
	background-color: #12def0;
	border: none;
}
.about-settings {
	margin: 0 10px;
}
.about-intro-subtext {
	margin-top: 25px;
	margin-left: 235px;
	width: 640px;
}
.about-place {
	width: 540px;
	margin-top: 120px;
}
.about-place-heading {
	font-size: 28px;
	font-weight: 400;
	color: #31302e;
	text-transform: capitalize;
}
.about-place-subtext {
	padding: 30px 0;
}
.about-google {
	margin-top: 20px;
}
.works {
	background-image: url('./img/back.png');
	background-repeat: no-repeat;
	background-position: left bottom;
}
.works>.container {
    padding: 150px 150px;
}
   .works-header {
	text-align: center;
	width: 645px;
	margin: 0 290px;
   }
   .works-settings-img {
   	margin: 0 10px;
   }
   .works-heading {
   	text-transform: capitalize;
   	font-size: 34px;
   	font-weight: 500;
   	color: #2e2e2e;
   }
   .works-hr {
   	width: 30px;
   	height: 3px;
   	background-color: #12def0;
   	border: none;
   }
   .works-header-subtext {
   	margin-top: 25px;
   }
   .works-main {
   	margin-top: 135px;
   	margin-left: 550px;
   	text-align: center;
   }
   .works-list {
   	display: flex;
   	flex-wrap: wrap;
   	width: 600px;
   }
   .works-item {
   	width: 250px;
   	height: 300px;
   }

   .works-box {
      margin: 0 auto;
      position: relative;
      width: 60px;
      height: 60px;
      border: 1px solid black;
      transform: rotate(45deg);
   }
   .works-minibox {
      position: absolute;
      background-color: white;
      width: 60px;
      height: 60px;
      border: 1px solid black;
      transform: translateX(10px) translateY(-10px);
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .works-logos {
      transform: rotate(-45deg);
   }
   .works-item-heading {
   	padding: 25px;
   	text-transform: capitalize;
   	font-size: 24px;
   	color: #252525;
   }
   .works-item-subtext {
   	color: #787b7b;
   }
.template {
	background-color: #f3f3f3;
}
.template>.container {
	padding: 70px 120px;
   padding-bottom: 75px;
}
   .template-header {
	text-align: center;
	width: 645px;
	margin: 0 350px;
   }
   .template-settings-img {
   	margin: 0 10px;
   }
   .template-heading {
   	text-transform: capitalize;
   	font-size: 34px;
   	font-weight: 500;
   	color: #2e2e2e;
   }
   .template-hr {
   	width: 30px;
   	height: 3px;
   	background-color: #12def0;
   	border: none;
   }
   .template-header-subtext {
   	margin-top: 25px;
   }
 
   .template-list {
   	display: flex;
   	flex-wrap: wrap;
   	text-align: center;

   }
   .template-item {
   	width: 380px;
   	min-height: 400px;
   	background-color: white;
   	margin: 20px 20px;
   	padding: 50px 40px;
   	box-shadow: 0 0 10px rgba(152,152,152,0.3);
      display: flex;
      align-items: center;
      flex-direction: column;
   }
   .template-box {
      height: 241px;
      width: 241px;
      border: 8px solid #cacaca;
      border-radius: 50%;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
   }
   .template-logos {
   	margin-top: 50px;
      padding-bottom: 25px;
   }
   .template-item-heading {
   	color: #423d3d;
   	font-weight: 600;
   	font-size: 20px;
   	text-transform: capitalize;
      width: 100px;
      height: 50px;
   }
   .screenshot> .container {
      padding: 50px 100px;
   }
   .screenshot-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
   }
   .screenshot-heading {
      text-transform: capitalize;
      font-size: 36px;
      font-weight: 500;
   }
   .screenshot-hr-line {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
   }
   .screenshot-settings {
      padding: 5px;
   }
   .screenshot-hr {
      width: 35px;
      height: 3px;
      border: none;
      background-color:  #0fe2e4;
   }
   .screenshot-subtext {
      display: flex;
      justify-content: center;
      font-size: 18px;
      color: #787b7b;
      font-weight: 400;
      width: 650px;
   }
   .passwords {
      padding: 60px 85px;
   }
   .passwords-img {
      width: 280px;
      height: 460px;
      padding-right: 10px;
   }
.reviews>.container {
   min-height: 400px;
   margin-bottom: 50px;
}
.reviews-header {
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
   .reviews-heading {
      text-transform: capitalize;
      font-size: 36px;
      color: #2e2e2e;
      font-weight: 500;
   }
   .heading-hr-line {
      display: flex;
      align-items: center;
   }
   .heading-settings {
      padding: 5px;
   }
   .heading-hr {
      width: 33px;
      height: 3px;
      border: none;
      background-color:  #0fe2e4;
   }
   .heading-subtext {
      width: 650px;
      font-size: 18px;
      color: #6f6f6f;
      font-weight: 400;
   }
   .main-container {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      padding:30px;
      width: 1000px;
      margin:0 auto;
   }
   .main-img-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: space-between;
   }
   .reviews-main-img {
      width: 110px;
      height:110px;
      border-radius: 50%;
      border: none;
   }
   .main-hr {
      margin-top:71px; 
      width: 150px;
      height: 7px;
      transform: rotate(90deg);
      background-color: #07dbee;
      border: none;
   }
   .main-span {
      margin-top: 60px;
      width: 0; 
      height: 0; 
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 60px solid #07dbee;
   }
   .nisha {
      display: flex;
      align-items: center;
   }
   .sachin {
      display: flex;
      align-items: center;
      padding-left: 50px;
   }
   .main-subtext-heading {
      font-size: 30px;
      color: #272525;
      font-weight: 400;
      padding-bottom: 25px;
   }
   .main-subtext-text {
      font-size: 18px;
      color: #6f6f6f;
      font-weight: 400;
   }
   .main-subtext {
      text-align: center;
   }
   .footer-span-dots {
      display: flex;
     margin: 50px auto;
      justify-content: space-around;
      width: 100px;
   }
   .main-dots {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #999999;
      border-radius: 50%;
   }
   .main-dot {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #832cce;
      border-radius: 50%;
   }
.plan {
  background-color: #f3f3f3;
}
.plan>.container {
   padding: 63px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
  
}
   .plan-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .plan-heading {
      text-transform: capitalize;
      font-size: 36px;
      color: #2e2e2e;
      font-weight: 500;
   }
   .plan-hr-line {
      display: flex;
      align-items: center;
      padding: 15px;
   }
   .plan-hr {
      width: 33px;
      height: 3px;
      border: none;
      background-color: #0fe2e4
   }
   .plan-settings {
      padding: 5px;
   }
   .plan-subtext {
      font-size: 18px;
      color: #6f6f6f;
      font-weight: 400;
      width: 650px;
   }

   .category-list {
      margin: 35px;
      display: flex;
      justify-content: space-around;
      width: 1250px;
   }
   .category-item {
      background-color: white;
      width: 300px;
      height: 514px;
      text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   .item-header {
      background-color: #0fe2e4;
      width: 300px;
      height: 129px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding:0 70px;

   }
   .item-header-heading {
      color: white;
      font-size: 30px;
      font-weight: 400;
   }
   .item-main {
      padding: 35px;
   }
   .item-main-text {
     font-size: 16px;
     padding: 10px;
     color: #555351;
     font-weight: 400;
}
    .item-main-hr {
      background-color: black;
    }
    .item-main-button {
      margin-top: 52px;
      text-transform: uppercase;
      color: #faf9f9;
      background-color:  #832cce;
      padding:10px 25px;
      font-size: 16px;
      border: none;
      outline: none;
    }

.questions>.container {
   width: 1140px;
   min-height: 500px;
   margin: 0 auto
}
    .questions-header {
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .questions-heading {
      font-size: 36px;
      color: #2e2e2e;
      font-weight: 600;
      text-transform: capitalize;
    }
    .questions-hr-line {
      display: flex;
      align-items: center;
      padding: 25px 0;
    }
    .questions-hr {
      width: 33px;
      height: 3px;
      background-color: #0fe2e4;
      border: none;
    }
    .questions-settings {
      padding: 5px;
    }
    .questions-subtext {
      width: 660px;
      font-size: 18px;
      color: #6f6f6f;
      font-weight: 400;
    }
    .questions-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 95px;
    }
    .questions-list {
      width: 770px;
      box-shadow: 0px 4px 6px 2px  rgba(99,99,99,0.24);
    }
    .questions-item {
      background-color:  #f3f3f3;
      padding: 25px;
      border-bottom: 1px solid#dddddd;
      font-size: 20px;
      color: #464545;
      font-weight: 400;
    }
    .questions-text {
      width: 722px;
      padding: 25px 0;
      font-size: 16px;
      color: #545351;
      font-weight: 400;
    }
    .questions-item:hover {
      background-color: #e3e3e3;
    }
.app {
   background-image: url('./img/dispatch.png');
   background-color: #07dbee;
   background-repeat: no-repeat;
   background-position: left bottom;
   background-size: contain;
}
.app>.container {
   padding: 200px 0;
   color: white;
   width: 1140px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
  

}
   .app-heading {
      padding-right: 80px;
      font-size: 47px;
      line-height: 22px;
      color: #faf9f9;
      font-weight: 400;
      text-transform: capitalize;

   }
   .app-text {
      width: 583px;
      padding-top: 36px;
      font-size: 18px;
      color: #faf9f9;
      font-weight: 400;
   }

.blog {
   background-color: #f3f3f3;
}
.blog>.container {
   width: 1140px;
   padding: 70px 0;
   margin: 0 auto;
}
   .blog-header {
      display: flex;
      flex-direction: column;
      align-items: center;text-align: center;
   }
   .blog-heading {
      text-transform: capitalize;
      font-size: 36px;
      line-height: 22px;
      color: #2e2e2e;
      font-weight: 600;
   }
   .blog-hr-line {
      display: flex;
      align-items: center;
      padding: 22px;
   }
   .blog-hr {
      width: 33px;
      height: 3px;
      background-color: #07dbee;
      border: none;
   }
   .blog-settings {
      padding: 5px;
   }
   .blog-subtext {
      width: 643px;
      font-size: 18px;
      line-height: 24px;
      color: #6f6f6f;
      font-weight: 400;
   }

   .blog-main {
      margin-top: 47px;
      padding: 14px 18px;
      display: flex;
      background-color: white;
      min-height: 439px; 
   }
   .blog-text {
      padding: 70px 37px;
   }
   .blog-text-heading {
      font-size: 30px;
      color: #1f1c1c;
      font-weight: 600;
      padding-bottom: 18px; 
   }
   .blog-time {
      color: #07dbee;
      
      font-size: 18px;
   }
   .blog-text-text {
      margin-top: 32px;
      font-size: 18px;
      color: #6b6a6a;
      font-weight: 400;
   }
   .blog-button {
      margin-top: 40px;
      background-color: #832cce;
      text-transform: uppercase;
      color: white;
      padding: 16px 26px;
      border: none;
      outline: none;
      font-size: 17px;
      border-radius: 20px;
   }
.partner>.container {
   width: 1140px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 80px;
}
    .partner-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .partner-heading {
      font-size: 36px;
      color: #2e2e2e;
      font-weight: 600;
    }
    .partner-hr-line {
      padding: 25px;
      display: flex;
      align-items: center;
    }
    .partner-hr {
      width: 33px;
      height: 3px;
      border: none;
      background-color:  #07dbee;
    }
    .partner-settings {
      padding: 5px;
    }
    .partner-subtext {
      font-size: 18px;
      width: 640px;
     color: #6f6f6f;
     font-weight: 400;
    }
    .partner-main {
      margin: 58px 0;
    }
    .partner-img {
      margin: 20px 60px;
    }
   .dots {
      display: flex;
      margin: 50px auto;
      justify-content: space-around;
      width: 100px;
   }
   .main-dots {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #999999;
      border-radius: 50%;
   }
   .main-dot {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #832cce;
      border-radius: 50%;
   }
   .partner-footer {
      background-color: #07dbee;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 73px;
   }
   .footer-text {
      text-transform: capitalize;
      color: white;
      font-size: 48px;
   }
.form {
    position: relative;
}

   .input {
      margin-top: 50px;
      width: 514px;
      height: 78px;
      border-radius: 50px;
      font-size: 30px;
      border: none;
      padding: 30px; 
      outline:none;
     
   }
   .search {
      position: absolute;
      right: 35px;
      top: 70px;
   
   }
